
header {
    background: #BBBBBB;
    padding: 20px 0;
}
.opcao h1{
    width: 50px;
    
}

.search {
    padding: 20px;
    font-size: medium;
    float: right;
    /*font-weight: bold;
    color: #000000;
    text-decoration:none;*/
    
}

nav {
    position: absolute;
    top: 90px;
    right: 0;
}
nav li {
    display: inline;    /*colocar alinhado*/
    margin: 0 0 0 15px;   /* colocar espaco*/
    padding: 15px;
    float: right;

}
nav a  {
    text-transform: uppercase;  /*colocar em majiscule*/
    color:#000000;
    font-weight: bold; /*colocar em negrito*/
    font-size: 22px;
    text-decoration: none;
}