
h1{
   color:#FF8C00;
   padding: 0;
   box-sizing: border-box; 
}

body{
    /* background-image: url("fundo.jpeg"); */
    background-color: aqua;
    text-align: center;
}

.Menu {
    display: inline;    /*colocar alinhado*/
    margin: 0 0 0 15px;   /* colocar espaco*/
    padding: 15px;
    float: right;

}