
header {
    background: #BBBBBB;
    padding: 20px 0;
}
.opcao h1{
    width: 50px;
    
}

.search {
    padding: 20px;
    font-size: medium;
    float: right;
    /*font-weight: bold;
    color: #000000;
    text-decoration:none;*/
    
}

nav {
    position: absolute;
    top: 90px;
    right: 0;
}
nav li {
    display: inline;    /*colocar alinhado*/
    margin: 0 0 0 15px;   /* colocar espaco*/
    padding: 15px;
    float: right;

}
nav a  {
    text-transform: uppercase;  /*colocar em majiscule*/
    color:#000000;
    font-weight: bold; /*colocar em negrito*/
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{ /* dar color quando passa o maouse acima*/
    color:#C78C19;
    text-decoration: underline;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;

}

.principal{
    padding: 3em 0;
    background: #FFFFFF;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong {
    font-weight: bold;
}
.principal em{
    font-style: italic;
}

.image-beneficios{
    width: 50%;
    opacity: 1;
    transition: 300ms;
}
.image-beneficios:hover{
    opacity: 0.6;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
    margin: 0 auto;
}
.itens {
    line-height: 1.5;
}
.itens:before{
    content: "✸";
}